:root {
  --main-border-color: #c2c2c7; 
  --main-text-color: #777; 
}
body {
  padding: 10px;
  color: var(--main-text-color);
  font-family: 'Open Sans', sans-serif;
}
.font-open-sans {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

