.cart-lists li {
	list-style: none;
}

.cart-lists ul {
	padding: 0;
}

.cart-list-item {
	height: auto;
	width: 100%;
	border-bottom: 1px solid #c2c2c7;
	border-bottom: 1px solid var(--main-border-color);
	padding: 15px 0;
}

.flex-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.flex-row>div {
	/* Safari 6.1+ */
	-ms-flex-basis: 100px;
	/* IE 10 */
	-ms-flex-preferred-size: 100px;
	flex-basis: 100px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.flex-row .items-layout {
	/* Safari 6.1+ */
	-ms-flex-basis: 80%;
	/* IE 10 */
	-ms-flex-preferred-size: 80%;
	flex-basis: 80%;
	-ms-flex-negative: 1;
	flex-shrink: 1;
}

.cart-header-item {
	/* padding: 15px; */
	padding: 15px 0;
	border-top: 1px solid var(--main-border-color);
	border-top: 1px solid #c2c2c7;
	border-bottom: 5px solid var(--main-border-color);
	border-bottom: 5px solid #c2c2c7;
}

.action-button {
	color: var(--main-text-color);
	margin: 4px 2px;
	cursor: pointer;
	text-align: center;
}

.image-responsive {
	width: 98px;
	height: auto;
}

.items-image {
	height: 100%;
	float: left;
	overflow: hidden;
	margin-right: 10px;
}

.row-item {
	margin-top: 18px;
}

.center-align {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.header-items-count {
	font-weight: bold;
	display: none;
}

.header-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.items-description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.items-description>h3 {
	margin-bottom: 0;
}

.prce-text-font {
	font-weight: bold;
}

.items-description .prce-text-font {
	font-weight: bold;
	font-size: 25px;
	margin: 10px 0;
}

.qty-box {
	height: 32px;
	width: 50px;
	border: 1px solid;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	margin-top: -5px;
	line-height: 30px;
}

.items-description .qty-box {
	display: inline-block;
}

.font-small {
	font-size: 12px;
}

.qty-desc {
	margin: 14px 0;
}

.items-actions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin-top: 30px;
}

.items-actions>span {
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.separator {
	margin: 0 10px;
	border-left: 1px solid var(--main-border-color);
	border-left: 1px solid #c2c2c7;
}

.cart-lists ul>li:last-child {
	border-bottom: 5px solid var(--main-border-color);
	border-bottom: 5px solid #c2c2c7;
}

.row-hide-mobile {
	display: none;
}

.checkout-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: auto;
}

.container-contuct-us {
	-ms-flex-preferred-size: 30%;
	flex-basis: 30%;
}

.container-chekout {
	-ms-flex-preferred-size: 70%;
	flex-basis: 70%;
}

.checkout-container {
	font-size: 0.83em;
	font-style: normal;
}

.container-contuct-us a,
.sign-in-massage a,
.product-details a {
	color: var(--main-text-color);
}

.continueshipping {
	color: var(--main-text-color);
	font-weight: bold;
}

article.container-contuct-us>div {
	margin: 10px 0;
}

.promotion-code-layoout {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	padding: 18px 0;
	border-bottom: 5px solid #c2c2c7;
	border-bottom: 5px solid var(--main-border-color);
}

.promotion-code-layoout input[type="text"] {
	line-height: 30px;
}

.promo-label {
	-ms-flex-preferred-size: 30%;
	flex-basis: 30%;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.promo-input {
	-ms-flex-preferred-size: 70%;
	flex-basis: 70%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.button {
	background-color: #fff;
	border: 1px solid var(--main-border-color);
	border: 1px solid #c2c2c7;
	color: var(--main-text-color);
	padding: 9px 18px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 0px 5px;
	cursor: pointer;
}

.button.btn-blue {
	background-color: #3e6bab;
	color: #fff;
	font-weight: bold;
}

.checkout-summary {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.checkout-summary>div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 18px 0;
	font-size: 15px;
	font-weight: bold;
}

.checkout-summary>div>span>b {
	color: black;
}

.checkout-summary>div p {
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	width: 60%;
}

.total-price {
	border-top: 1px solid var(--main-border-color);
	border-top: 1px solid #c2c2c7;
	border-bottom: 5px solid var(--main-border-color);
	border-bottom: 5px solid #c2c2c7;
	padding: 18px 0;
}

.total-price .prce-text-font {
	font-size: 25px;
}

.checkout-actions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.secure-massage,
.sign-in-massage {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.secure-image {
	width: 22px;
	height: 22px;
	margin: 13px 0;
}


/* The Modal (background) */

.modal {
	display: block;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	padding-top: 100px;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}


/* Modal Content */

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 60%;
}


/* The Close Button */

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.flex-modal-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.product-image {
	text-align: center;
}

.product-details {
	-ms-flex-preferred-size: 60%;
	flex-basis: 60%;
	text-align: center;
}

.modal-content .image-responsive {
	width: 65%;
}

.modal-prce-text-font {
	font-size: 35px;
}

.modal-prce-text-font small {
	font-weight: normal;
}

select {
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid var(--main-border-color);
	border: 1px solid #c2c2c7;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.modal-edit-button {
	width: 60%;
	margin: 5px 1px;
}

.select-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0px 10px;
}

.select-box select {
	-ms-flex-preferred-size: 30%;
	flex-basis: 30%;
	margin: 6px 4px;
}

.colors-available {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: -15px;
	margin-bottom: 14px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.capitalise {
	text-transform: capitalize;
}

.color-box {
	height: 24px;
	width: 24px;
	margin: 0 3px;
	cursor: pointer;
}

.color-box.color-blue {
	background-color: #182f55;
}

.color-box.color-grey {
	background-color: #cfcfd1;
}

.color-box.color-red {
	background-color: #c30505;
}

.color-selected {
	height: 28px;
	width: 28px;
}

.sign-in-massage {
	display: none;
}


/* CSS styles for tablet devices */

@media (max-width: 768px) {
	.size-layout,
	.quantity-layout,
	.price-layout,
	.cart-header-item,
	.container-contuct-us {
		display: none;
	}
	.row-hide-mobile {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
	}
	.flex-row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.header-wrapper {
		border-bottom: 5px solid var(--main-border-color);
		border-bottom: 5px solid #c2c2c7;
	}
	.header-items-count {
		display: inline-block;
	}
	.items-actions {
		margin-top: 0;
	}
	.promo-input {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.promotion-code-layoout {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		border-bottom: 1px solid #c2c2c7;
		border-bottom: 1px solid var(--main-border-color);
	}
	.container-chekout {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
	}
	.promo-label {
		text-align: center;
	}
	.flex-modal-content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.modal-content .image-responsive {
		width: 98px;
	}
	.modal {
		padding: 10% 0;
		font-size: 11px;
	}
	.product-details>div>h4 {
		margin-top: 0;
	}
	.select-box {
		margin: 0px 0px;
	}
	.colors-available {
		margin-bottom: 1px;
		margin-top: -10px;
	}
	.product-details h3 {
		margin: 0;
	}
	.modal {
		padding: 10% 0;
		font-size: 11px;
	}
	body * {
		outline: none;
	}
	.cart-list-item {
		height: 340px;
	}
	.promotion-code-layoout {
		/* display: inline-block; */
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		flex-direction: row;
		-ms-flex-direction: row;
		width: 100%;
	}
	.items-image {
		height: 90%;
	}
	.modal-content {
		height: 470px;
	}
}


/* CSS styles for small devices */

@media (max-width: 480px) {
	.flex-row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.cart-header-item,
	.container-contuct-us {
		display: none;
	}
	.header-wrapper {
		border-bottom: 5px solid var(--main-border-color);
		border-bottom: 5px solid #c2c2c7;
	}
	.header-items-count {
		display: inline-block;
	}
	.header-wrapper h1 {
		font-size: 20px;
	}
	.items-actions {
		margin-top: 0;
	}
	.promo-input {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.promotion-code-layoout {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		border-bottom: 1px solid #c2c2c7;
		border-bottom: 1px solid var(--main-border-color);
	}
	.container-chekout {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
	}
	.promo-label {
		text-align: center;
	}
	.checkout-actions {
		-ms-flex-pack: distribute;
		justify-content: space-around;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
		height: 100px;
	}
	.button.btn-blue {
		width: 100%;
	}
	.secure-massage {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.sign-in-massage {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.secure-massage p,
	.secure-massage img {
		margin: 0;
	}
	.secure-massage {
		margin: 0;
	}
	.total-price {
		border-bottom: none;
	}
	.sign-in-massage p {
		border-top: 1px solid var(--main-border-color);
		border-top: 1px solid #c2c2c7;
		padding-top: 18px;
	}
	.flex-modal-content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.modal-content .image-responsive {
		width: 98px;
	}
	.modal {
		padding: 10% 0;
		font-size: 11px;
	}
	.promotion-code-layoout input[type="text"] {
		border: 2px solid var(--main-border-color);
		border: 2px solid #c2c2c7;
	}
	.checkout-summary>div:nth-child(1) {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}
	.checkout-summary>div:nth-child(2) {
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
		order: 3;
	}
	.checkout-summary>div:nth-child(3) {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}
	.checkout-summary>div:nth-child(4) {
		-webkit-box-ordinal-group: 5;
		-ms-flex-order: 4;
		order: 4;
	}
	.product-details>div>h4 {
		margin-top: 0;
	}
	.select-box {
		margin: 0px 0px;
	}
	.colors-available {
		margin-bottom: 1px;
		margin-top: -10px;
	}
	.product-details h3 {
		margin: 0;
	}
	body * {
		outline: none;
	}
	.sign-in-massage {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.cart-list-item {
		height: 300px;
	}
	.promotion-code-layoout {
		display: inline-block;
	}
	.items-image {
		height: 85%;
	}
	.modal-content {
		height: 470px;
	}
}