.cart-lists li{
  list-style: none;
}
.cart-lists ul{
  padding: 0;
}
.cart-list-item  {
  height: auto;
  width: 100%;
  border-bottom: 1px solid var(--main-border-color);
  padding: 15px 0;
}
.flex-row{
  display: flex;
}
.flex-row>div{
  -webkit-flex-basis: 100px; /* Safari 6.1+ */
  -ms-flex-basis: 100px; /* IE 10 */ 
  flex-basis: 100px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.flex-row .items-layout{
  -webkit-flex-basis: 80%; /* Safari 6.1+ */
  -ms-flex-basis: 80%; /* IE 10 */ 
  flex-basis: 80%;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
}
.cart-header-item{
  /* padding: 15px; */
  padding: 15px 0;
  border-top: 1px solid var(--main-border-color);
  border-bottom: 5px solid var(--main-border-color);
}
.action-button{
  color: var(--main-text-color);
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;
}
.image-responsive{
  width: 98px;
  height: auto;
}
.items-image{
  height: 100%;
  float: left;
  overflow: hidden;
  margin-right: 10px;
}
.row-item{
  margin-top: 18px;
}
.center-align{
  display: flex;
  justify-content: center;
}
.header-items-count{
  font-weight: bold;
  display: none;
}
.header-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between; 
}
.items-description{
  display: flex;
  flex-direction: column;
}
.items-description>h3{
  margin-bottom: 0;
}
.prce-text-font{
  font-weight: bold;
}
.items-description .prce-text-font{
  font-weight: bold;
  font-size: 25px;
  margin: 10px 0;
}
.qty-box{
  height: 32px;
  width: 50px;
  border: 1px solid;
  box-sizing: border-box;
  text-align: center;
  margin-top: -5px;
  line-height: 30px;
}
.items-description .qty-box{
  display: inline-block;
}
.font-small{
  font-size: 12px;
}
.qty-desc{
  margin: 14px 0;
}
.items-actions{
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}
.items-actions>span{
  flex-shrink: 0;
}
.separator{
  margin: 0 10px;
  border-left: 1px solid var(--main-border-color);
}
.cart-lists ul>li:last-child{
  border-bottom: 5px solid var(--main-border-color);
}
.row-hide-mobile {
  display: none;
}
.checkout-container{
  display: flex; 
  height: auto;   
}
.container-contuct-us{
  flex-basis: 30%;
}
.container-chekout{
  flex-basis: 70%;
}
.checkout-container{
  font-size: 0.83em;
  font-style: normal;
}
.container-contuct-us a, .sign-in-massage a, .product-details a{
  color: var(--main-text-color);
}
.continueshipping{
  color: var(--main-text-color);
  font-weight: bold;
}
article.container-contuct-us > div{
  margin: 10px 0;
}
.promotion-code-layoout{
  display: flex;
  justify-content: space-around;
  padding: 18px 0;
  border-bottom: 5px solid var(--main-border-color);
}
.promotion-code-layoout input[type="text"]{
  line-height: 30px;
}
.promo-label{
  flex-basis: 30%;
  flex-shrink: 0;
}
.promo-input{
  flex-basis: 70%;
  display: flex;
  justify-content: flex-start;
}
.button {    
  background-color: #fff;
  border: 1px solid var(--main-border-color);
  color: var(--main-text-color);
  padding: 9px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 5px;
  cursor: pointer;
}
.button.btn-blue{
  background-color: #3e6bab;
  color: #fff;
  font-weight: bold;
}
.checkout-summary {
  display: flex;
  flex-direction: column;
}
.checkout-summary > div{
  display: flex;
  justify-content: space-between;
  margin: 18px 0;
  font-size: 15px;
  font-weight: bold;
}
.checkout-summary > div > span > b{
  color: black;
}
.checkout-summary>div p{
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  width:60%;
}
.total-price{
  border-top: 1px solid var(--main-border-color);
  border-bottom: 5px solid var(--main-border-color);
  padding: 18px 0;
}
.total-price .prce-text-font{
  font-size: 25px;
}
.checkout-actions{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.secure-massage, .sign-in-massage {
  display: flex;
  justify-content: flex-end;
}
.secure-image{
  width: 22px;
  height: 22px;
  margin: 13px 0;
}


/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.flex-modal-content{
  display: flex;    
}
.product-image{
  flex-basis: 40%;
  text-align: center;
}
.product-details{
  flex-basis: 60%;
  text-align: center;
}
.modal-content .image-responsive{
  width: 65%;
}
.modal-prce-text-font{
  font-size: 35px;
}
.modal-prce-text-font small{
  font-weight: normal;
}
select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--main-border-color);
  box-sizing: border-box;
}
.modal-edit-button{
  width: 60%;
  margin: 5px 1px;
}
.select-box{
  display: flex;  
  justify-content: center;  
  margin: 0px 10px;
}
.select-box select{
  flex-basis: 30%;  
  margin: 6px 4px;  
}
.colors-available{
  display: flex;
  justify-content: center;
  margin-top: -15px;
  margin-bottom: 14px;
  align-items: center;
}
.color-box{
  height: 24px;
  width: 24px;
  margin: 0 3px;
}
.color-box.color-blue{
  background-color: #182f55;
}
.color-box.color-grey{
  background-color: #cfcfd1;
}
.color-selected{
  height: 28px;
  width: 28px;
}
.sign-in-massage{
  display: none;
}

@media (max-width: 768px){
  .size-layout, .quantity-layout, .price-layout, .cart-header-item, .container-contuct-us{
      display: none;
  }
  .row-hide-mobile{
      display: inline-flex;
  }
  .flex-row{
      flex-direction: column;
  }
  .header-wrapper{
      border-bottom: 5px solid var(--main-border-color);
  }
  .header-items-count{
      display: inline-block;
  }
  .items-actions{
      margin-top: 0;
  }
  .promo-input{
      justify-content: center;
  }
  .promotion-code-layoout{
      flex-direction: column;       
      border-bottom: 1px solid var(--main-border-color);
  }
  .container-chekout{
      flex-basis: 100%;
  }
  .promo-label{
      text-align: center;
  }
  .flex-modal-content{
      flex-direction: column-reverse;
  }
  .modal-content .image-responsive {
      width: 98px;
  }
  .modal{
      padding: 10% 0;
      font-size: 11px;
  }
  .product-details>div>h4 {
      margin-top: 0;
  }
  .select-box{ 
      margin: 0px 0px;
  }
  .colors-available {
      margin-bottom: 1px;
      margin-top: -10px;
  }
  .product-details h3{
      margin: 0;
  }
  .modal{
      padding: 10% 0;
      font-size: 11px;
  }
  body *{
    outline: none;
  }
}
@media (max-width: 500px){
  .flex-row{
      flex-direction: column;
  }
  .cart-header-item, .container-contuct-us{
      display: none;
  }
  .header-wrapper{
      border-bottom: 5px solid var(--main-border-color);
  }
  .header-items-count{
      display: inline-block;
  }
  .header-wrapper h1{
      font-size: 20px;
  }
  .items-actions{
      margin-top: 0;
  }
  .promo-input{
      justify-content: center;
  }
  .promotion-code-layoout{
      flex-direction: column;
      border-bottom: 1px solid var(--main-border-color);
  }
  .container-chekout{
      flex-basis: 100%;
  }
  .promo-label{
      text-align: center;
  }
  .checkout-actions {
      justify-content: space-around;
      flex-direction: column-reverse;
      height: 100px;
  }
  .button.btn-blue {
      width: 100%;
  }
  .secure-massage {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
  }
  .sign-in-massage{
      justify-content: center;
  }
  .secure-massage p, .secure-massage img{
      margin: 0;
  }
  .secure-massage{
      margin: 0;
  }
  .total-price{
      border-bottom: none;
  }
  .sign-in-massage p{
      border-top: 1px solid var(--main-border-color);
      padding-top: 18px;
  }
  .flex-modal-content{
      flex-direction: column-reverse;
  }
  .modal-content .image-responsive {
      width: 98px;
  }
  .modal{
      padding: 10% 0;
      font-size: 11px;
  }
  .promotion-code-layoout input[type="text"] {
      border: 2px solid var(--main-border-color);
  }
  .checkout-summary>div:nth-child(1){
      order: 1;
  }
  .checkout-summary>div:nth-child(2){
      order: 3;
  }
  .checkout-summary>div:nth-child(3){
      order: 2;
  }
  .checkout-summary>div:nth-child(4){
      order: 4;
  }
  .product-details>div>h4 {
      margin-top: 0;
  }
  .select-box{ 
      margin: 0px 0px;
  }
  .colors-available {
      margin-bottom: 1px;
      margin-top: -10px;
  }
  .product-details h3{
      margin: 0;
  }
  body *{
    outline: none;
  }
  .sign-in-massage{
    display: flex;
  }
}

